/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #app {
    text-align: center;
    margin: 20px;
  }
  
  .lesson {
    border: 10px solid #ccc;
    width: 400px;
    padding: 10px 0;
    margin: 20px;
    display: inline-block;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
  }
  