<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After-School Booking App</title>
    <script src="
https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js
"></script>
    <link rel="stylesheet" href="booklesson.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>

    <div id="app">
        <h1>After-School Lesson Booking App</h1>
        <!-- dropdown menu to select the options list from -->
        <label for="sort">Sort By:</label>
        <select id="sort" v-model="selectedSort">
            <option value="">-- Select Option --</option>
            <option value="subject">Subject</option>
            <option value="location">Location</option>
            <option value="price">Price</option>
            <option value="spaces">Availability</option>
        </select>
        <div class="lesson-container">
            <!-- Loop through the lessons and display them in rows of three -->
            <div v-for="(lesson, index) in lessons" :key="index" class="lesson" @mouseover="handleEvent">
                <i :class="['fas', lesson.icon, 'fa-3x']"></i>
                <p>Subject: {{ lesson.subject }}</p>
                <p>Location: {{ lesson.location }}</p>
                <p>Price: {{ lesson.price }}</p>
                <p>Spaces: {{ lesson.spaces }}</p>
                <button @click="bookLesson(lesson)">Add to cart</button>
            </div>
        </div>
    </div>
    <script src="book-lesson.js"></script>

</body>

</html>